# dependencies
/node_modules

# testing
/coverage

# production
/dist

# secret
.npmrc

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/HTML5Application/nbproject/private/
/nbproject/private/

#Netbeans files
project.properties
project.xml

